.d-flex{
    display: flex;
}
.menu{
    background-color: $bg-base-1;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid $border-line;
}
.menu-left{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.menu-right{
    display: flex;
    align-items: center;
    gap: 1rem;

    .search{
        display: flex;
        align-items: center;
        border: 1px solid $border-line;
        border-radius: $border-radius-sm;
        input{
            outline: none;
            border: none;
        }
    }
    .notifications{
        gap: 0.5rem;      
    }
}