// Color Palette
$color-primary: #3B82F6;
$color-sidebar: #0F172A;
$color-card: #FFFFFF;
$color-border: #E2E8F0;
$color-text: #0F172A;
$color-text-secondary: #64748B;
$bg-base: #F8F9FD;
$bg-base-1: #FFFFFF;

$border-line: #DDD;
//ticket status colors
$ticket-status-bg-resolved: #DCFCE7;
$ticket-status-text-resolved: #16A34A;
$ticket-status-bg-progress: #FEF3C7;
$ticket-status-text-progress: #D97706;
$ticket-status-bg-error: #FEE2E2;
$ticket-status-text-error: #DC2626;
$ticket-status-bg-pending: #DBEAFE;
$ticket-status-text-pending: #2563EB;
// Hovers
$color-primary-hover: #2563EB;
$color-sidebar-hover: #1E293B;
// Typography
@font-face {
  font-family: "Inter Variable";
  src: url("@fonts/Inter/Inter-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins Variable";
  src: url("@fonts/Poppins/Poppins-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

$font-family-base: "Inter Variable", sans-serif;
$font-family-base-1: "Poppins Variable", sans-serif;
$font-size-base: 1rem; // 16px
$font-size-sm: 0.875rem; // 14px
$font-size-sm-2: 1.0625rem; // 17px
$font-size-lg: 1.25rem; // 20px
$font-size-lg-1: 1.625rem; // 26px
$font-size-lg-2: 1.75rem; // 28px
$font-size-xlg: 1.875rem; // 30px
$font-size-xlg-1: 2.25rem; // 36px
$font-size-xlg-2: 2.625rem; // 42px
$font-size-xlg-3: 3.125rem; // 50px
$font-size-xlg-4: 3.5rem; // 56px
$font-size-xlg-5: 4rem; // 65px
$font-size-xlg-6: 4.6875rem; // 75px
$font-size-xlg-7: 5.3125rem; // 85px
$font-weight-normal: 400;
$font-weight-normal-1: 500;
$font-weight-bold: 600;
$line-height-base: 1.6;

// Spacing
$space-none: 0rem;
$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-sm-1: 0.625rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2.5rem;
$space-xl-1: 3.5rem;
$space-xl-2: 4.5rem;

// Border & Radius
$border-radius-sm: 0.25rem;
$border-radius-md: 0.5rem;
$border-radius-lg: 1rem;
$border-color: #ddd;

// global styles
* {
  font-family: $font-family-base;
  margin: 0;
}

body {
  color: $color-text;
  background-color: $bg-base;
  margin: 0;
}

footer {
  display: none;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
// breakpoints
$breakpoint-mobile: 30em; // 480px
$breakpoint-tablet: 63.9em; // 768px
$breakpoint-desktop: 80em; // 1024px
$breakpoint-laptop: 75em; // 1200px
$breakpoint-large: 120em; // 1920px

// Responsive mixins
@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: $breakpoint-tablet) {
      @content;
    }
  } @else if $breakpoint == laptop {
    @media (max-width: $breakpoint-laptop) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (max-width: $breakpoint-desktop) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (max-width: $breakpoint-large) {
      @content;
    }
  }
}