.dashboard-layout {
  display: flex;
  min-height: 100vh;

  main {
    margin-left: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .dashboard-content {
    flex: 1 0 auto;
    padding: $space-lg;
  }
}
