.sidebar {
  background-color: $color-sidebar;
  color: $bg-base-1;
  width: 15vw;
  height: 100vh;
  padding: $space-lg;
  gap: $space-xl-2;

  transition: width 0.3s cubic-bezier(0.22, 1, 0.36, 1);
  overflow: hidden;

  .logo {
    width: 150px;
    height: auto;
    transition: width 0.3s ease;
  }
}
.sidebar-open {
  width: 260px;
}

.sidebar-closed {
  width: 80px;
  padding: 16px 8px;
}

.logo-collapsed {
  width: 40px;
}

.link {
  display: flex;
  align-items: center;
  gap: 12px;

  transition: padding 0.3s ease;
}

.link-text {
  white-space: nowrap;
  transition:
    opacity 0.15s ease,
    transform 0.2s ease;
}

.sidebar-closed .link-text {
  opacity: 0;
  transform: translateX(-10px);
  width: 0;
  overflow: hidden;
}

.sidebar-closed .link {
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

.user-details {
  transition: opacity 0.15s ease;
}

.sidebar-closed .user-details {
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.sidebar-closed .user-left {
  justify-content: center;
  width: 100%;
}

.sidebar-closed .menu-options li {
  display: flex;
  justify-content: center;
}

.menu-options {
  list-style-type: none;
  padding: 0;
  gap: 30px;
  .link {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 12px 16px;

    border-radius: 12px;

    color: $bg-base-1;
    text-decoration: none;

    transition:
      background 0.25s,
      padding 0.3s,
      color 0.2s;
  }

  .link:hover {
    background-color: rgba(59, 130, 246, 0.15);
  }

  .active-link {
    background-color: $color-primary;
  }

  .active-link svg {
    color: $bg-base-1;
  }
}
.login-container {
  width: 100%;
  margin-top: auto;
  cursor: pointer;
}

.user-info {
  padding: 12px;
  border-radius: 12px;
  gap: 5px;
  transition: background 0.3s ease;
}

.user-info:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.arrow {
  transition: transform 0.25s ease;
}

.rotate-arrow {
  transform: rotate(90deg);
}

.user-info {
  div {
    gap: $space-sm-1;
    .user-details {
      display: flex;
      flex-direction: column;
      gap: $space-xs;

      .user-name {
        font-weight: $font-weight-bold;
      }
    }
  }
}
.sidebar-closed .menu-options {
  align-items: center;
}
