.d-flex {
  display: flex;
}
.menu {
  background-color: $bg-base-1;
  justify-content: space-between;
  padding: $space-md $space-lg;
  border-bottom: 1px solid $border-line;

  h1 {
    font-weight: $font-weight-bold;
  }
}
.menu-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu-right {
  display: flex;
  align-items: center;
  gap: 1rem;

  .search {
    display: flex;
    align-items: center;
    border: 1px solid $border-line;
    border-radius: $border-radius-sm;
    input {
      outline: none;
      border: none;
    }
  }
  .notifications {
    gap: 0.5rem;
  }
}
